%script{src:"//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"}
%link{rel:"stylesheet",href: "//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css", type:"text/css", media: "screen", charset:"utf-8"}
:css
	body{
		background: white;
	}
.reveal
	.slides
		%section.dark-background
			%h2 Status Report:
			%h3 Project name
			%br/
			%br/
			%p Describe What You Do
		%section
			.container-fluid
				.row
					.col.s6
						%h3.editable Hello World
						%br/
						%br/
						%p.editable Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam iste repudiandae, nihil optio. Voluptatem corrupti beatae qui.
					.col.s6.dark-background
						%h3 Hello Fuckers
						%br/
						%br/
						%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates aut odit quo, possimus ea ullam laudantium corporis molliti.

.fixed-action-btn{style: "bottom: 100px;"}
	%a#edit-slide{class: "btn-floating btn-large waves-effect waves-light red","data-state": "create"}
		%i.material-icons create

					
