:css
	body{
		background: white;
	}
.reveal
	.slides
		%section.dark-background
			%h2 Status Report:
			%h3 Project name
			%br/
			%br/
			%p Describe What You Do
		%section
			.container-fluid
				.row
					.col.s6
						%h3 Hello World
						%br/
						%br/
						%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam iste repudiandae, nihil optio. Voluptatem corrupti beatae qui.
					.col.s6.dark-background
						%h3 Hello Fuckers
						%br/
						%br/
						%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates aut odit quo, possimus ea ullam laudantium corporis molliti.
					
