.reveal
	.slides
		%section
			%h2.primary-text-color Name Of Your Startup (xyz)
			%p Describe What You Do
		%section{"data-background-color": "#ff0000"}
			.container-fluid
				.row
					.img
					
